/*
Date: 3/12/23
Page: about-styles.css
Styles specific to the about us page
*/

/* Mobile first design*/
/* Image slideshow */
.slideshow {
  margin-bottom: 5%;
  position: relative;
  max-width: 600px;

}

.slideshow-image{
  max-width: 600px;
  height: auto;
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  color: #fff;
  font-size: 4em;

}

.next {
  right: 0;
  
}


/* About us Paragraph */
.about-us h1 {
  padding-left: 2%;
  display: inline;
  font-size: 3em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  color: black;
}

.about-us p{
  display: inline;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}