/* 
File Name: index-styles.css
Description: Page specific styles for the Index page
Date: 2/26/2023
*/

/* Mobile first: Styles for Main Section of Index Page*/
/* Styles for sidebar */
.home-feed {
  padding: 1%;
  margin-bottom: 3%;
  background-color: #000;
  height: auto;
  display:flex;
  
}

.home-feed-image{
  margin: 2%;
  max-width: 160px;
  height: auto;
  display: flex;
}

.home-feed-text{
  color: #fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8em;
  text-align:left;
}

.subheading{
  text-align: center;
  font-size: 1.5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
}

.sidebar-title {
  display: none;
}

.home-sidebar {
  padding: 1%;
  margin-bottom: 10%;
  height: auto;
  width: calc(100% - 10px);
  display: inline-block;
  background-color: #28282B;
}

.home-sidebar p, .home-sidebar i {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.home-sidebar h3 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-align: center;
}



/* Styles for tablet viewport */
@media screen and (min-width: 620px), print {

  .sidebar-title {
    display: block;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 0%;
  }

  .subheading{
    display: none;
  }

}

/* Styles for desktop viewport*/
@media screen and (min-width: 1000px), print {
 
  /* Sidebar */
  .home-sidebar{
    width: 260px;
  }

}


/* Styles for large desktop viewport*/
@media screen and (min-width: 1921px), print {
  
  /* Sidebar */
  .home-sidebar{
    width: 350px;
  }

  .home-feed {
    background-color: #000;;
    height: auto;
    width: 1200px;
    float: right;
    margin: 2%;
    padding: 0;
    max-width: 100%;
  }

}

