/* 
File Name: styles.css
Date: 2/24/2023
*/

/* Mobile first style */
/* show mobile class, hide tab-desk and desktop class */
.mobile, .mobile-tablet {
  display: block;
}
.tab-desk, .desktop, #nav-links{
  display: none;
}


/* Style rules for body */
body {
  background: linear-gradient(#fff, #000);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Style rules for images */
img {
  max-width: 100%;
  display: block;
}


/* Style Rules for Mobile Header Area*/
.mobile h1 {
  padding-top: 12%;
  text-align: center;
  margin: 1%;
}

.mobile h3 {
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  border-bottom: 2px solid #000;
  
}


/* Style rules for Mobile nav */
nav {
  background-color: #000;
}
.mobile-nav a {
  color: #fff;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}
.mobile-nav a.nav-icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  padding: 2%;
}
.nav-icon div{
  height: 40px;
  width: 40px;
  color: #000;
  cursor: pointer;
}
nav a:hover {
  color: #000;
  background-color: #fff; 
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: 'Lora', serif;
}

main p {
    font-size: 1.25em;
}

main h2 {
    padding-top: 2%;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

#contact, #form h2 {
    text-align: center;
}



/* Style rules for form elements */
fieldset, input, textarea  { 
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 2%;
}

form #submit {
    margin: 0 auto;
    display: block;
    padding: 2%;
    background-color: blue;
    color: white;
    font-size: 1.25em;
    border-radius: 12px;
}


/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 1em;
    background-color: #000;
	  color: white;
    padding: 1% 0;
}

footer a {
    text-decoration: none;
	  color: white;
}

.social img{
  display: inline-block;
  padding: 2%;
}



/* media query - tablet viewport */
@media screen and (min-width: 620px), print {
  .tab-desk {
    display: block;
  }
  .mobile, .mobile-nav {
    display: none;
  }

  /* Tablet viewport nav area */
  nav ul {
      list-style-type: none;
      text-align: center;
  }
  nav li {
      border-top: none;
      display: inline-block;
      font-size: 1.50em;
      font-weight: bold;
  }
  nav li a {
      padding: 0.5em;
      display: block;
      text-decoration: none;
  }
  #nav-links {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border-top: 0.5px solid;
  }
  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 1em;
  }

/* Tablet Viewport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }
	
}

/* media query - desktop viewport */
@media screen and (min-width: 1000px), print {
  .desktop {
    display: block;
  }
  .mobile-tablet{
    display: none;
  }

 /* Desktop Viewport: Style rules for form elements */
    form {
        width: auto;
    }
    
    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px; 
    }
    
    .btn {
        grid-column: 1 / span 2;
    }

    	 /* Style rules for table */
       table {
        border: 1px solid #2a1f14;
        border-collapse: collapse;
        margin: 0 auto;
	
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }
	
	th, td {
        border: 1px solid;
        padding: 1%;
    }

    th {
        background-color: red;
        font-size: 1.15em;
    }
	
	td { 
		font-family: 'Times New Roman', serif;
	}
	

}

/* media query - large desktop viewport */
@media screen and (min-width: 1921px), print {
  #wrapper {
    width: 1920px;
    margin: 0 auto;
  }

  /* Nav area for large desktop viewports */
  nav li {
    font-size: 1.5em;
  }
  nav li a {
    padding: 0.5em 1.5em;
  }

}

/* media query for printing */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
